<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kola.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Kola.Properties.Settings>
            <setting name="PagesInMemoryCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AsociatedExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="NextPageKey1" serializeAs="Xml">
                <value>
                    <Key>Right</Key>
                </value>
            </setting>
            <setting name="NextPageKey2" serializeAs="Xml">
                <value>
                    <Key>E</Key>
                </value>
            </setting>
            <setting name="PreviousPageKey1" serializeAs="Xml">
                <value>
                    <Key>Left</Key>
                </value>
            </setting>
            <setting name="PreviousPageKey2" serializeAs="Xml">
                <value>
                    <Key>Q</Key>
                </value>
            </setting>
        </Kola.Properties.Settings>
    </userSettings>
</configuration>